body {
    align-self: center;
    width: 1440px;
    margin: 0px;
}
header { 
    height: 90px;
    margin-left: 120px;
    margin-right: 120px ;
    background-color: lightblue;
    align-content: center;
}

.headertext {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    margin-left: 32px;
    display: inline;
}
.buttonblock {
    float: right;
    margin-right: 40px;
    display: inline;
}

.headerbutton {
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
    border-radius: 30px;
    border-color: black;
    border-width: 0px;
    background-color: white;
    padding: 4px 9px;
}